<nav>
  <div class="site-title">
    <a href="/">
      <h1>Mini Message Board</h1>
    </a>
  </div>
  <div class="links">
    <ul>
      <li><a href="/">Board</a></li>
      <li><a href="/new">New Message</a></li>
    </ul>
  </div>
</nav>